*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.navbar
{
    height: 60px;
    background-color:#eee;
    display: flex;
    align-items: center;
    width: 100%;
    position:fixed;
    z-index: 5;
    justify-content: space-around;
   
    
    
}
.navbar1
{
    height: 60px;
    background-color:#eee;
    display: flex;
    align-items: center;
    width: 100%;
    position:fixed;
    z-index: 5;
    justify-content: space-around;
   
    
    
}
.menu
{
    width: 5%;
    display: flex;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2mm;
    

}

.menu span
{
    width: 60%;
    cursor: pointer;
}

.logo
{
     font-family:pacifico;
     letter-spacing:4px;
     font-size:160%;
     display: flex;
     justify-content: center;
     width: 22%;

}
.logo span
{
    width: 90%;
    cursor: pointer;

}


.search 
{
    
    height: 25px;
    display: flex;
    justify-content: flex-end;
    width: 32%;
    align-items: center;
    letter-spacing: .2mm;
    
}


.search input
{
    width: 90%;
    height: 28px;
    padding-left: 15px;
    border: none;
    background-color:white;
    font-size: 14px;
    font-family: pacifico;
    font-weight: 400;
    color: black;
    letter-spacing: .2mm;
    outline:none;
   
}

.search input:focus
{
    border:1px solid rgb(203, 206, 207);
    border-right: none;
}

.search1 
{
    
    height: 25px;
    display: flex;
    justify-content: flex-end;
    width: 32%;
    align-items: center;
    letter-spacing: .2mm;
    
}


.search1 input
{
    width: 90%;
    height: 28px;
    padding-left: 15px;
    border: none;
    background-color:white;
    font-size: 14px;
    font-family: pacifico;
    font-weight: 400;
    color: black;
    letter-spacing: .2mm;
    outline:none;
   
}

.search1 input:focus
{
    border:1px solid rgb(203, 206, 207);
    border-right: none;
}


.searchicon
{
    
    display: flex;
    justify-content: center;
    width: 4%;
    margin-right: 9%;  
    border:1px solid rgb(203, 206, 207);
    height: 28px;
    padding: none;

    

}

.searchicon button
{
    background-color:#eee;
     border: none;
    width: 100%;
    padding: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
   
}

.searchicon button:focus
{
   
   outline: none;
   border: none;
}

.searchicon button:active
{
    background-color:rgb(196, 189, 189); 
  
}

.searchicon1
{
    
    display: flex;
    justify-content: center;
    width: 4%;
    margin-right: 9%;  
    border:1px solid rgb(203, 206, 207);
    height: 28px;
    padding: none;

    

}

.searchicon1 button
{
    background-color:#eee;
     border: none;
    width: 100%;
    padding: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
   
}

.searchicon1 button:focus
{
   
   outline: none;
   border: none;
}

.searchicon1 button:active
{
    background-color:rgb(196, 189, 189); 
  
}

.animsearch
{
    
    height: 60px;
    visibility: hidden;
    width: 50%;
    align-items: center;
    letter-spacing: .2mm;
    opacity: 1;
    z-index: 7;
    position: fixed;
   
    margin-left: 16%;
    
}

.animsearch1 
{
    
    height: 60px;
    visibility: hidden;
    width: 50%;
    align-items: center;
    letter-spacing: .2mm;
    opacity: 1;
    z-index: 7;
    position: fixed;
    
    margin-left: 16%;
    
}

.apps
{
    
    display: flex;
    justify-content: center;
    width: 5%;

    
}

.apps span
{
     width: 100%;
     cursor: pointer;
    display: flex;
    justify-content: center;
}



.login
{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    flex: 1;
    margin-right: 2%;
    margin-left: 6%;
    font-size: 13px;
    font-family: gotu;
    font-weight: 600;
    border-radius: 2px;
    background-color:rgb(194, 190, 190);
    cursor: pointer;
    box-shadow: none;


}



.body
{
    padding-top:60px ;
    display: flex;
    flex-direction:row;
    height: 800px;
    margin: 0;
}

.body1
{
    padding-top:60px ;
    display: flex;
    flex-direction:row;
    height: 800px;
}


.leftsidebar
{
    display: flex;
    width: 18%;
    background-color:rgb(250, 250, 250);
    flex-direction: column;
    padding-top: 70px;
    z-index: 2;
    position: fixed;
    height:400% ;
}

.leftsidebar a
{
    display:flex;
    align-items: center;
    font-family: Amatic SC;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0px 4px 4px 7%;
    justify-content: flex-start;
    
}

.text
{
    font-weight: 1000px;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.leftsidebar a:hover
{
   background-color: rgb(148, 141, 141);
   color: black;
    

}



.leftsidebar a img
{   display: flex;
    flex-shrink: 0;
    width: 38px;
    padding : 2px 4px 2px 2px;
    height:35px;
    flex: 0;
    margin-right:16px;

}

.home
{
    font-size: 16px ;
    font-weight: 600;
}


.leftsidebar1
{
    display: flex;
    width: 7%;
    background-color:rgb(250, 250, 250);
    flex: 0;
    flex-direction: column;
    padding-top: 70px;
    height: 400%;
    z-index: 2;
    position: fixed;

}

.leftsidebar1 a
{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Amatic SC;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    
    justify-content: center;

}

.leftsidebar1 a:hover
{
   background-color: rgb(148, 141, 141);
   color: black;
    

}





.leftsidebar1 a img
{
    display: flex;
    width: 50px;
    padding : 2px 7px 2px 7px;
    height:36px;
    flex: 0;

}

.text1
{
    font-size: 12px;
    font-weight: 900;
    width: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}





#genre
{
    cursor: pointer;
}

.genrename
{
    margin-left: 8%;
    margin-top: 5px;
    padding-left: 4px;
    height: 30px;
    font-family: gotu;
}

.displaynone
{
    display: none;
}

.rightsidebar
{
    width: 82%;
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    
}

.rightsidebar1
{
    width: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    
}

.header
{
    display: flex;
    height: 73px;
    font-size: 150%;
    font-weight: 800;
    font-family: gotu;
    align-items: center;
    padding-left: 3%;
    margin-top: 2%;
}

.bigbox
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0% 1% 1% 1%;
    width: 100%;
    
    
}


.box
{
    display: flex;
    flex-direction: column;
    
    width: 23%;
    height:220px;
    padding:0;
    margin: 1.5%;
    flex: 1;
    min-width:24%;

}
.box a
{
    text-decoration: none;
    color: black;

}

.box a:hover
{
    text-decoration: none;
    color:rgb(10, 87, 158);

}

.image
{
   height: 80%;
}

.link
{
    display: flex;
    align-items: center;
   height: 12%;
   font-size: 120% ;
   font-weight: bold;
   padding-left: 2%;
}
.box div
{
    height: 8%;
    display: flex;
    align-items: center;
   font-size: 70% ;
   font-weight: 400;
   padding-left: 3%;
}

.box a img
{
    height:100%;
    width:100%;
}




@media (max-width: 1005px) 
{
    .menu
{
    width: 10%;
    margin-right: 2%;
}

.logo
{
     display: none;

}



.search 
{
    
    width: 40%;
    
}


.searchicon
{
    
    margin-right: 8%;   

}


.apps
{
    
    margin-right: 3%;
    
}



.bell
{
   
    margin-right: 4%;
}



.login
{
   width: 20%;
}


.leftsidebar
{
    
    width: 9%;
    height: 400%;
    display: flex;
   
    align-items: center;
   
    
}

.leftsidebar a
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 0px;

}




.leftsidebar a img
{
   
    width: 40px;
    padding: 2px 2px;
    margin: 0;
    height: 40px;
    
}

.text
{
    font-size: 11px;
    font-weight: bold;
    width: 40px;
    display: flex;
    justify-content: center;
}

.leftsidebar1
{
    display: flex;
    width: 25%;
    height: 150%;
    
}

.leftsidebar1 a
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0px;
    
}




.leftsidebar1 a img
{

    display: flex;
    width: 48px;
    padding : 2px 7px 2px 7px;
    height:35px;
    flex: 0;
    margin-right: 17px;
    margin-left: 7px;
    
}

.text1
{
    
    font-weight: 1000px;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.rightsidebar
{
    width: 91%;
    margin-left: 9%;
    
}

.rightsidebar1
{
    width: 91%;
    margin-left: 9%;
    
    
}


}

@media (max-width: 813px) 
{

.navbar1
{
    opacity: 0.2;
    height: 60px;
    background-color:#eee;
    display: flex;
    align-items: center;
    width: 100%;
    position:fixed;
    z-index: 5;
    justify-content: space-between;
}    
    .menu
{
    width: 15%;
    margin-right: 5%;
}




.search 
{
    display: none;
    
}



.animsearch1 
{
    
    visibility: visible;
    
}


.animsearch1 input
{
    
    width: 100%;
    height: 28px;
    padding-left: 15px;
    border:1px solid rgb(203, 206, 207);
    border-bottom:1px solid rgb(62, 167, 252) ;
    background-color:white;
    font-size: 14px;
    font-family: pacifico;
    font-weight: 400;
    color: black;
    letter-spacing: .2mm;
    outline:none;
    margin-top: 16px;
   
}

.animsearch1 input:focus
{
    border:1px solid rgb(203, 206, 207);
    
}


.searchicon
{
    
    margin-right: 8%; 
    margin-left: 27%;
    border: none;  

}

.searchicon1
{
    display: none;
}


.apps
{
    
    margin-right: 5%;
    
}

.apps1
{
    display: none;

}



.bell
{
   
    margin-right: 5%;
}



.login
{
   min-width: 25%;
   flex: 0;
   margin-right: 4%;
}
.body
{
    padding-top: 60px;

}

.body1
{
    padding-top:60px ;
    display: flex;
    flex-direction:row;
    height: 600px;
    opacity: 0.6;
}

.leftsidebar
{
    
    display: none;
    
}


.leftsidebar1
{
    display: flex;
    width: 30%;
   
}

.leftsidebar1 a img 
{
    display: flex;
    
}

.text1
{
    font-size: 16px;
}

.rightsidebar
{
    width: 100%;
    margin-left: 0;
}

.rightsidebar1
{
    width: 100%;
    margin-left: 0;
   
    
    
}

}


@media (max-width: 706px) 
{
    .menu
{
    width: 15%;
    margin-right: 15%;
}


.leftsidebar1
{
    display: flex;
    width: 35%;
    background-color:rgb(250, 250, 250);
    flex-shrink: 0;
    flex-direction: column;
    padding-top: 70px;
    z-index: 2;
    position: fixed;
    height: 90%;
}

.search 
{
    display: none;
    
}
.animsearch1
{
    margin-left: 25%;
}

.search1  {
    width: 90%;
}

.menu
{
    margin-right: 5%;
}


.searchicon
{
    
    margin-right: 10%;   

}


.apps
{
    
    margin-right: 5%;
    
}



.bell
{
   
    margin-right: 4%;
}



.login
{
   width: 20%;
   margin-right: 4%;
}



.bigbox
{
    
    padding: 0% 2% 2% 2%;
    width: 100%;
    
}

.box
{
     margin: 2%;
     width:46% ;
     min-width: 46%;

}

.animsearch1 {
    
    margin-left: 16%;
}

}

@media (max-width: 490px) 
{

.navbar
{
    justify-content: space-between;
}    
    .menu
{
    width: 15%;
    margin-right: 5%;
}

.leftsidebar1
{
    display: flex;
    width: 55%;
    background-color:rgb(250, 250, 250);
    flex-shrink: 0;
    flex-direction: column;
    padding-top: 70px;
    z-index: 2;
    position: fixed;
    height: 90%;
}



.searchicon
{
    
    margin-right: 8%;   

}

.animsearch1 {
    width: 90%;
    margin-left: 5%;
}


.apps
{
    
    display: none;
    
}



.bell
{
   
    display: none;
}



.login
{
    display: none;
}

.header
{
    padding-left: 7%;
}

.bigbox
{
    
    padding: 0% 5% 2% 5%;
    width: 100%;
    
}

.box
{
    
     width:100% ;
     min-width: 90%;

}

}